@import "../../../../styles/global/colours";
@import "../../../../styles/global/mixins";

.select {
  position: relative;
  width: 183px;
  padding: 5px 20px;
  border: 1px solid $gbsGreen;
  cursor: pointer;
  line-height: 1.1;
  font-size: 12px;
  background-color: $gbsGreenDark;
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-image: url("../../../../public/images/icons/toggle.svg");
  border-radius: 12px;
  color: $gbsGreen;
  @include mq($until: 374px) {
    padding: 5px 5px;
  }
}

@include mq($until: tablet) {
  .select {
    width: 170px;
  }
}

.option {
  color: $gbsGreen;
}
@media screen and (min-width: 320px) and (max-width: 375px) {
  .select {
    width: 130px;
  }
}
@media screen and (min-width: 1051px) and (max-width: 1130px) {
  .select {
    width: 160px;
    padding: 5px 10px;
  }
}
@media screen and (min-width: 980px) and (max-width: 1050px) {
  .select {
    width: 160px;
    padding: 5px 10px;
  }
}
