@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.footer {
  position: relative;
  min-height: 112px;
  width: 100%;
  padding: 0 20px 20px 20px;
}

.disclaimer {
  color: $white;
  font-size: 7px;
  display: inline-block;
  max-width: 164px;
  line-height: 10px;
  flex-shrink: 1;
  flex-grow: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.age {
  background-color: $white;
  color: black;
  width: 26px;
  height: 26px;
  font-size: 8px;
  font-weight: bold;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  flex-grow: 1;
  flex-shrink: 0;
}
.right {
  // Temporary solution to footer image overflowing screen
  @include mq($from: 980px) {
    margin-right: 180px;
  }
  @include mq($from: 1024px) {
    margin-right: 140px;
  }
  @include mq($from: 1200px) {
    margin-right: 50px;
  }
  @include mq($from: 1200px) {
    margin-right: 50px;
  }
  @include mq($from: 1440px) {
    margin-right: 0px;
  }
}

.break {
  border-top: 1px solid $background;
  margin-bottom: 20px;
}

@include mq($from: tablet) {
  .footer {
    height: 70px;
  }

  .disclaimer {
    max-width: 100%;
    font-size: 9px;
  }
}
