@import "../global/mixins";

body,
html,
main,
.main,
#__next,
.page,
.wrapper,
.main-section {
  height: 100%;
}
.landscape-text {
  color: white;
  font-weight: 500;
  text-align: center;
  margin-top: 25px;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .landscape-text {
    display: block;
  }
  .wrapper {
    display: none;
  }
}

body {
  overflow: hidden;
}

@media screen and (max-height: 800px) {
  .main-section {
    > div {
      height: calc(100% - 220px);
    }
  }
}

@media screen and (min-height: 841px) {
  .main-section {
    > div {
      height: calc(100% - 250px);
    }
  }
}

@media screen and (max-width: 739px) {
  .main-section {
    > div {
      height: calc(100% - 250px);
    }
  }
}

@media screen and (max-width: 1150px) {
  .hideEachWay {
    display: none;
  }
}

html,
body {
  width: 100%;
  background-color: $gbsGreenDarkest;
  position: fixed;
  font-family: "Montserrat", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

html {
  max-width: 100%;
  height: 100%;
}

.wrapper {
  background-color: $gbsGreenDarkest;
}

.main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.header__left-side {
  display: flex;
  align-items: center;
}

.back-button {
  margin-right: 17px;
}

.bookmaker {
  display: none;
}

section {
  width: 100%;
  padding-right: 0;
  height: 100%;

  .content-toggle {
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 999;
    cursor: pointer;
  }

  > div {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 3px;
    height: calc(100% - 190px);
  }

  .section {
    &_left {
      .header {
      }
    }
    &_left,
    &_right {
      height: 100%;

      .header {
        padding: 10px 5px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
          display: none;
          color: $gbsGreen;
        }

        .filters {
          position: absolute;
          bottom: 20px;
          right: 110px;
          z-index: 900;
          display: flex;

          .toggle {
            margin-top: 3px;
            margin-right: 10px;
          }

          .dropdown {
            position: relative;
            width: 80px;
            @media screen and (max-width: 374px) {
              width: 30px;
            }
          }
        }
      }

      .panel {
        margin-top: 3px;
        height: 100%;
        overflow: hidden;

        &_left {
          background-color: $white;
          border-radius: 20px;

          > div {
            padding: 10px;
            background-color: $white;
          }
        }
        &_right {
          background: $white;
          border-radius: 20px;
          height: calc(100% - 40px);

          table {
            width: 100%;
            border-radius: 20px;
            background-color: $white;

            * {
              border-collapse: separate;
            }

            thead {
              position: sticky;
              position: -webkit-sticky;
              background: linear-gradient(
                0deg,
                $gbsGreen 1.5%,
                $gbsGreen 0%,
                white 1%
              );
              top: 0;
              border-bottom: 0;
              z-index: 3;
              -webkit-appearance: none;

              &:before {
                content: "";
                background: transparent;
                position: absolute;
                right: 0;
                height: 100%;
                width: 25px;
                border-top-right-radius: 20px;
                box-shadow: 0 -25px 0 $gbsGreenDarkest;
                pointer-events: none;
                display: none;
              }

              &:after {
                content: "";
                background: $gbsGreenDarkest;
                width: 50%;
                height: 67px;
                right: 0;
                transform: translateX(100%);
                top: 0;
                display: none;
              }
            }
          }
        }
      }
    }

    &_left {
      flex: none;
    }

    &_right {
      width: 100%;
      flex: none;
      padding-right: 0;
    }
  }
}

button {
  background: none;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 16.34px;
  padding: 0;
}

select {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 1rem;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  display: grid;
}

.section {
  &_left {
    display: block;

    .panel {
      > div {
        height: 100%;
      }
    }
  }
}

//Variables toggle
.showVariables {
  width: 100%;
}
.hideVariables {
  display: none;
}

section {
  > div {
    width: calc(100%);
    padding: 0 20px;
  }

  .content-toggle {
    left: 25px;
  }

  .section {
    &_left {
      .panel {
        &_left {
          width: 100%;
          height: calc(100% - 35px);
        }
      }
    }

    &_right {
      .header {
        line-height: 20px;
      }

      .minimiseResults {
        width: 0%;
      }

      .showResults {
        width: 100%;
      }
    }
  }
}

@include mq($from: tablet) {
  .main-section {
    > div {
      height: calc(100% - 145px);
    }
  }

  .main {
    flex-direction: row;
  }

  .showVariables {
    width: calc(90%);
  }

  .minimiseResults {
    display: none;
  }

  section {
    .content-toggle {
      left: 95px;
      top: 87px;
    }

    .section {
      &_left,
      &_right {
        .header {
          display: flex;
          margin-top: 15px;
          vertical-align: middle;
          padding-left: 40px;

          h1 {
            display: block;
            margin-left: 0px;
          }

          .filters {
            margin-left: 5%;
            position: static;
            line-height: 1;

            .toggle {
              margin-right: 20px;
            }
          }
        }

        .panel {
          margin-top: 30px;
          height: calc(100% - 85px);
        }
      }

      &_left {
        margin-right: 10px;

        .header {
          .hideHeading {
            // display: none;
          }
        }

        .panel {
          margin-top: 30px;
        }
      }

      &_right {
        .header {
          display: flex;
          justify-content: space-between;
          margin-right: 130px;

          > h1 {
            margin-top: 3px;
            margin-left: 30px;
          }
        }

        .panel {
          width: 100%;
        }

        .showResults {
          width: 100%;
        }
      }
    }
  }
}

@include mq($from: desktop) {
  //Variables toggle
  .showVariables {
    width: 40%;
  }
  section {
    .content-toggle {
      display: none;
    }
    .section {
      &_left,
      &_right {
        padding-left: 0;
      }
      &_left {
        flex: 0 1 40%;
        display: block;
        padding: 10px 0;

        .header {
          display: flex;
          margin-top: 5px;
          margin-left: 0px;

          .hideHeading {
            display: block;
          }
        }

        .panel {
          margin-top: 30px;
          width: 100%;
          height: calc(100% - 60px);
        }
      }

      &_left {
        margin-right: 0;
      }

      &_right {
        padding: 10px 0;
        width: 60%;

        .panel {
          background: transparent;
          height: 100%;
          margin-left: 10px;

          table {
            thead {
              &:before {
                display: block;
              }
              &:after {
                content: "";
                position: absolute;
                display: block;
              }
            }
          }
        }

        .minimiseResults {
          display: block;
          width: 50%;
        }

        .showResults {
          width: 55%;
        }

        .header {
          display: flex;
          justify-content: space-between;

          > h1 {
            margin-top: -5px;
            margin-left: 10px;
          }

          .filters {
            margin-right: 320px;
          }
        }
      }
    }
  }
}

@include mq($from: wide) {
  section {
    .section {
      &_left,
      &_right {
        padding-left: 0;
      }
      &_left {
        display: block;
        padding: 10px;
      }

      &_right {
        flex: 0 0 75%;

        .header {
          .filters {
            margin-right: 160px;
          }
        }

        .panel_right {
          width: calc(100% - 50px);

          table {
            width: calc(100% - 150px);
          }
        }
      }
    }
  }
}

//If screen is desktop width but shorter than a tablet
@media screen and (min-width: 740px) and (max-width: 980px) and (max-height: 900px) {
  .main {
    flex-direction: column;
  }

  //Variables toggle
  .showVariables {
    width: 100%;
  }

  section {
    .content-toggle {
      top: 172px;
      left: 20px;
    }

    .section {
      &_right {
        .header {
          > h1 {
            line-height: 1;
          }
          .filters {
            margin-top: 5px;
            margin-right: -30px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 980px) and (max-width: 1000px) and (max-height: 900px) {
  section {
    .section {
      &_left {
        margin-right: 10px;
        margin-top: 2px;
      }

      &_left,
      &_right {
        .header {
          width: 85%;
          padding-left: 5px;
        }
      }
      &_right {
        .header {
          padding-left: 30px;
        }
      }
      &_left {
        .header {
          > h1 {
            font-size: 14px;
          }
        }
        .panel_left {
          height: calc(100% - 100px);

          margin-top: 50px;
          min-width: calc(100% - 20px);
          max-width: calc(100% - 50px);
        }
      }
      &_right {
        .header {
          display: flex;
          flex-direction: row;

          > h1 {
            font-size: 14px;
            margin-left: 0px;
            display: none;
          }
          .filters {
            margin-top: 10px;
          }
        }
        .panel_right {
          height: calc(100% - 40px);
          width: 100%;
          margin-left: 0px;

          table {
            width: calc(100% - 0px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 981px) and (max-width: 1000px) and (max-height: 900px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          height: 20px;
        }
      }
      &_left {
        .header {
          > h1 {
            font-size: 14px;
          }
        }
        .panel_left {
          margin-top: 30px;
          min-width: calc(100% - 50px);
          max-width: calc(100% - 50px);
        }
      }
      &_right {
        .header {
          display: flex;
          flex-direction: row;

          > h1 {
            font-size: 14px;
            margin-left: -40px;
          }
          .filters {
            margin-top: 10px;
            margin-left: -65px;
          }
        }
        .panel_right {
          width: 100%;
          margin-left: -40px;

          table {
            width: calc(100% - 150px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1001px) and (max-width: 1050px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          width: 85%;
          padding-left: 5px;
          padding-left: 5px;
        }
      }
      &_left {
        margin-right: 10px;
        margin-top: 2px;
        .header {
          height: 45.2px;
          width: 85%;
          padding-left: 5px;

          > h1 {
            font-size: 14px;
          }
        }
        .panel {
          margin-top: 10px;
        }
        .panel_left {
          min-width: calc(100% - 50px);
          max-width: calc(100% - 50px);
        }
      }
      &_right {
        .header {
          display: flex;
          flex-direction: row;
          padding-left: 40px;

          > h1 {
            font-size: 14px;
            margin-left: -30px;
            display: none;
          }
          .filters {
            margin-top: 10px;
            margin-left: -65px;
          }
        }
        .panel_right {
          width: 100%;
          margin-left: -30px;
          margin-top: 10px;

          table {
            width: calc(100% - 17vw);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1051px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1051px) and (max-width: 1130px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          height: 20px;
          padding-left: 0;

          > h1 {
            font-size: 14px;
          }
        }
      }
      &_left {
        .header {
          width: 85%;
          padding-top: 22px;
          padding-left: 5px;
        }
        .panel_left {
          margin-top: 28px;
          min-width: calc(100% - 50px);
          max-width: calc(100% - 50px);
        }
      }
      &_right {
        .header {
          display: flex;
          flex-direction: row;
          padding-left: 40px;

          > h1 {
            margin-left: -30px;
            display: none;
          }
          .filters {
            margin-top: 15px;
            margin-left: -65px;

            .dropdown {
              margin-top: -3px;
            }
          }
        }
        .panel_right {
          width: 100%;
          margin-left: -30px;

          table {
            width: calc(100% - 10vw);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1131px) and (max-width: 1200px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          height: 20px;
          line-height: 1;
          width: 75%;
        }
      }
      &_left {
        .header {
          margin-top: 3px;
        }
        .panel_left {
          min-width: calc(100% - 90px);
          max-width: calc(100% - 90px);
        }
      }
      &_right {
        .header {
          display: flex;
          line-height: 1;

          > h1 {
            margin-left: -70px;
          }
          .filters {
            line-height: 1;
            margin-left: 50px;

            .toggle {
              margin: auto 10px auto 0;
              line-height: 1;
            }

            .dropdown {
              margin-top: -4px;
            }
          }
        }
        .panel_right {
          width: 100%;
          margin-left: -70px;

          table {
            width: calc(100% - 110px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  section {
    .section {
      &_left {
        .header {
          width: 90%;
        }
      }
      &_left,
      &_right {
        .header {
          height: 20px;
          line-height: 1;
        }
      }
      &_left {
        .header {
          margin-left: -20px;
        }
        .panel_left {
          margin-left: -20px;
          min-width: calc(100% - 30px);
          max-width: calc(100% - 30px);
        }
      }
      &_right {
        .header {
          display: flex;
          flex-direction: row;

          > h1 {
            margin-left: -50px;
          }
          .filters {
            line-height: 1;
            margin-left: 45px;

            .toggle {
              margin: auto 10px auto 0;
              line-height: 1;
            }

            .dropdown {
              margin-top: -4px;
            }
          }
        }
        .panel_right {
          width: 100%;
          margin-left: -50px;

          table {
            width: calc(100% - 100px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  section {
    .section {
      &_left {
        .header {
          width: 100%;
        }
      }
      &_left,
      &_right {
        .header {
          > h1 {
            font-size: 28px;
          }
        }
      }

      &_left {
        .header {
          margin-left: -20px;
        }

        .panel_left {
          margin-left: -20px;
          min-width: 100%;
          max-width: 100%;
        }
      }
      &_right {
        .header {
          > h1 {
            margin-top: 0;
            margin-left: -10px;
          }
          .filters {
            margin-right: 220px;
          }
        }

        .panel_right {
          width: calc(100% - 110px);
          margin-left: -10px;

          table {
            width: calc(100% - 110px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  section {
    .section {
      &_left,
      &_right {
        .header {
          height: 20px;

          > h1 {
            font-size: 28px;
          }
        }
      }
      &_left {
        .panel_left {
          min-width: 100%;
          max-width: 100%;
        }
      }
      &_right {
        .header {
          > h1 {
            line-height: 1;
            margin-top: 0;
          }
          .filters {
            margin-right: 210px;

            .dropdown {
              margin-top: -2px;
            }
          }
        }

        .panel_right {
          width: 100%;

          table {
            width: calc(100% - 250px);
          }
        }
      }
    }
  }
}
