h1,
h2,
h6,
p,
span {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.h1--primary {
  color: #3cd176;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.h2--primary {
  color: $white;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
}

.span--heading {
  color: $gbsGreenDarkest;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  a {
    color: $gbsGreenDarkest;
    &:hover {
      color: $gbsGreen;
    }
  }
}

.span--accordionHeading {
  font-weight: 700;
  font-size: 12px;
  line-height: 30px;
  color: $gbsGreenDarkest;
}

.span--accordionItem {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  color: $gbsGreenDarkest;
}

.span--tableHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 30px;
  color: $gbsGreenDarkest;
}

.span--tableCell {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 38px;
  text-align: right;
  color: $gbsGreenDarkest;
}

.span--label {
  color: #254933;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.span--primary {
  color: $white;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
}
.span--secondary {
  color: $white;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
}

.span--footer {
  color: $white;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
