@import "../../../styles/global/colours";

.button {
  text-decoration: none;
  cursor: pointer;
  z-index: 1;

  &:hover,
  &:focus,
  &:active:not([disabled]) {
    text-decoration: underline;
  }
  &.primary {
  }
  &.secondary {
  }
}

.pill {
  position: relative;
  width: 85%;
  border-radius: 30px;
  padding: 0px 0px 0px 15px;
  color: $white;
  border: 1px solid $gbsGreen;
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 0;

  &_img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 30px;
    @media screen and (max-width: 1280px) {
      top: -10px;
    }
  }

  span {
    position: absolute;
    top: 2px;
    left: 20px;
    height: 100%;
    font-weight: normal;
    font-size: 10px;
    color: #fbfffd;
  }
}
