@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.sidebar {
  position: relative;
  width: 100%;
  height: 63px;
  background-color: $background;

  aside {
    display: flex;
  }

  &_tab {
    position: relative;
    min-height: 100%;
    border-top-left-radius: 20px;
    color: $white;
    cursor: pointer;
    background-color: $gbsTabLight;

    // &:first-of-type {
    //   background-color: $gbsGreenDark;
    // }

    &:nth-of-type(n + 2) {
      background-color: $gbsGreen;
    }

    &:nth-of-type(3) {
      background-color: $gbsTabLight;
    }

    > div {
      padding: 20px;
      position: relative;
      z-index: 3;
      display: flex;
    }

    &:after {
      background-color: $gbsGreenDark;
    }

    &.active {
      background-color: $gbsGreenDarkest;
      color: #fff;

      &:after {
        background-color: $gbsGreenDarkest;
      }
    }
  }

  a {
    text-decoration: none;
    color: $white;
  }

  &_tour_type_desktop {
    display: none;
  }

  &_tournament_name {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  &_tour_type_mobile,
  &_updated {
    font-size: 10px;
  }

  &_tour_type_mobile {
    margin-right: 9px;
  }

  &_date,
  &_location {
    display: none;
  }

  &_socials {
    position: absolute;
    bottom: 84px;
    width: calc(100% - 43px);
    display: none;
    align-items: center;
  }
}

.livePill {
  position: relative;
  top: -2px;
  height: 12px;
  width: 35px;
  background: $gbsGreen;
  border-radius: 34px;
  font-size: 9px;
  margin-right: 10px;

  > span {
    color: $gbsGreenDarkest;
    position: absolute;
    top: 1px;
    right: 4px;
    margin-left: 20px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 5px;
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: red;
  }
}

//Turning tabs into arrows on mobile
@include mq($until: tablet) {
  .mobileNav {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;

    .prev,
    .next {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 100%;
      // border: 1px red solid;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        background-image: url("/images/icons/prev-arrow.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    .next {
      &:after {
        content: "";
        position: absolute;
        background-image: url("/images/icons/next-arrow.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
      }
    }

    .current {
      display: flex;
      flex-direction: column;
      height: 20px;
      width: 100%;
      padding-top: 20px;
      font-size: 17px;
      align-items: center;
      color: $background;
      text-align: center;

      &_header {
        display: flex;
        align-items: center;
        margin: 0px 0 5px 0px;
        white-space: nowrap;
      }

      &_info {
        margin-bottom: 10px;
        white-space: nowrap;
      }
    }

    .disable {
      // TODO: .3
      opacity: 1;
    }
  }

  .livePill {
    position: relative;
    height: 12px;
    width: 35px;
    border-radius: 34px;
    font-size: 9px;
    margin-right: 10px;

    > span {
      color: $gbsGreenDarkest;
      position: absolute;
      top: 1px;
      right: 4px;
      margin-left: 20px;
    }

    &:before {
      content: "";
      position: absolute;
      top: 3px;
      left: 5px;
      height: 6px;
      width: 6px;
    }
  }

  .sidebar {
    display: none;

    &_tab {
      background-color: $gbsGreenDarkest;
      margin-top: 0;

      &.active {
        order: 1;
        flex: 0 0 66.66%;
        border-top-left-radius: 0;
      }

      &:not(.active) {
        flex: 0 0 16.65%;

        .sidebar_tab_left {
          display: none;
        }

        .sidebar_tab_right {
          text-decoration: none;

          p,
          h2 {
            display: none;
          }
        }
      }

      &:after {
        display: none;
      }
    }
  }
}

@include mq($from: tablet) {
  .mobileNav {
    display: none;
  }

  .sidebar {
    min-width: 72px;
    width: auto;
    height: 100%;
    padding: 0 0px 0 20px;

    &_logo {
      display: none;
    }

    aside {
      display: block;
      height: 100%;
    }

    &_tab {
      position: relative;
      min-height: 136px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-top: 0;

      > div {
        padding: 22px 15px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
      }

      &:first-of-type {
        padding-top: 70px;

        &:after {
          top: 100%;
          right: 0;
          height: 50px;
        }
      }

      &:after {
        content: "";
        position: absolute;
        background-color: $background;
        top: 100%;
        right: 0;
        top: 100%;
        height: 50px;
        width: 25px;
        border-top-right-radius: 25px;
        box-shadow: 0 -25px 0 $gbsTabLight;
      }

      &:nth-of-type(n + 2),
      &:nth-of-type(3) {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        max-width: 100%;
        margin-top: 0;
        height: auto;
      }

      &:nth-of-type(n + 2) {
        &:before {
          content: "";
          position: absolute;
          background: transparent;
          box-shadow: 0 -36px 0 $gbsGreen;
          width: 25px;
          right: 0px;
          transform: rotate(180deg);
          top: -50px;
          height: 50px;
          border-top-left-radius: 20px;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: $background;
          right: 0;
          top: 100%;
          height: 50px;
          width: 25px;
          border-top-right-radius: 25px;
          box-shadow: 0 -25px 0 $gbsTabLight;
        }
      }

      &.active:nth-of-type(n + 2):before {
        box-shadow: 0 -36px 0 $gbsGreenDarkest;
        right: -1px;
      }

      &:nth-of-type(3) {
        &:before {
          content: "";
          position: absolute;
          background: transparent;
          box-shadow: 0 -36px 0 $gbsTabLight;
          width: 25px;
          right: 0px;
          transform: rotate(180deg);
          top: -50px;
          height: 50px;
          border-top-left-radius: 20px;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: $background;
          right: 0;
          top: 100%;
          height: 50px;
          width: 25px;
          border-top-right-radius: 25px;
          box-shadow: 0 -25px 0 $gbsTabLight;
        }
      }

      &.active:nth-of-type(3):before {
        box-shadow: 0 -36px 0 $gbsGreenDarkest;
        right: -1px;
      }

      &.active {
        &:after {
          box-shadow: 0 -25px 0 $gbsGreenDarkest;
        }
      }
    }

    .livePill {
      position: relative;
      left: 10px;
      height: 50px;
      width: 20px;
      border-radius: 34px;
      font-size: 10px;
      margin-bottom: 10px;

      > span {
        color: $gbsGreenDarkest;
        position: absolute;
        top: 20px;
        right: 6px;
        margin-left: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 6px;
        height: 8px;
        width: 8px;
      }
    }

    &_tournament_name {
      margin-left: 3px;
      max-height: 190px;
      font-size: 14px;
    }

    &_tour_type_mobile {
      margin-bottom: 9px;
    }

    &_socials {
      display: flex;
      justify-content: space-between;
      flex-direction: column-reverse;

      svg {
        margin-bottom: 50%;
      }
    }

    &_social_links {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}

// How to guide text
.how_to_guide {
  position: relative;
  margin-top: 20px;
  margin-right: 50px;

  @include mq($until: desktop) {
    display: none;
  }

  &_text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;

    a {
      color: $gbsGreen;
    }
  }
}

@include mq($from: desktop) {
  .sidebar {
    width: 300px;
    height: 100vh;
    padding: 0 0px 0 20px;

    &_logo {
      display: block;
    }

    &_tab {
      > div {
        writing-mode: horizontal-tb;
        transform: none;

        p {
          font-weight: 400;
        }
      }

      &:first-of-type {
        padding-top: 0;

        &:after {
          top: 100%;
          right: 0;
        }
      }

      &:nth-of-type(n + 2) {
        margin-top: 0;

        &:before {
          content: "";
          position: absolute;
          background: transparent;
          box-shadow: 0 0px 0;
          width: 25px;
          right: 0px;
          transform: rotate(180deg);
          top: -50px;
          height: 50px;
        }

        &:after {
          background: transparent;
          box-shadow: 0 -32px 0 $gbsGreen;
          right: 0;
          z-index: 1;
        }
      }

      &:nth-of-type(n + 3) {
        &:after {
          background: transparent;
          box-shadow: 0 -32px 0 $gbsTabLight;
        }
      }

      &.active:nth-of-type(2):before {
        background: transparent;
        // box-shadow: 0 -30px 0 $gbsGreenDarkest;
        right: 0;
        z-index: 99999;
      }

      &.active:nth-of-type(n + 2):after {
        background: transparent;
        box-shadow: 2px -30px 0 $gbsGreenDarkest;
        right: -1px;
        z-index: 99;
      }

      &:nth-of-type(3) {
        &:after {
          top: 100%;
        }
      }
    }

    &_1_tab {
      .sidebar_tab:first-child {
        &:after {
          display: none;
        }
      }
    }

    &_tab_left {
      margin-right: 20px;
      flex-grow: 1;
    }

    &_tab_right {
      flex-grow: 0;
      flex-shrink: 10;
    }

    .livePill {
      position: relative;
      left: 2px;
      height: 20px;
      width: 50px;
      border-radius: 34px;
      font-size: 10px;

      > span {
        color: $gbsGreenDarkest;
        position: absolute;
        top: 5px;
        right: 8px;
        margin-left: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        height: 10px;
        width: 10px;
      }
    }

    &_tour_type_desktop {
      display: block;
    }

    &_tour_type_mobile {
      display: none;
    }

    &_tour_type_desktop,
    &_updated {
      font-size: 12px;
      line-height: 14.5px;
    }

    &_updated {
      margin-bottom: 15px;
    }

    &_tournament_name {
      font-size: 17px;
      font-weight: bold;
      writing-mode: horizontal-tb;
      transform: none;
      line-height: 20.8px;
      margin-bottom: 3px;
      margin-left: 0;
    }

    &_date,
    &_location {
      display: block;
      font-size: 10px;
      line-height: 10px;
    }

    &_date {
      margin-bottom: 5px;
    }

    &_socials {
      flex-direction: row;
    }

    &_social_links {
      width: 60%;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

//Desktop screens that are too short to show 3 tabs down the side
@media screen and (min-width: 740px) and (max-width: 980px) and (max-height: 900px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 0;
    background-color: $background;

    aside {
      display: flex;
    }

    &_tab {
      position: relative;
      height: auto;
      min-height: 73px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0;

      > div {
        padding: 20px;
        position: relative;
        z-index: 3;
        writing-mode: horizontal-tb;
        transform: none;
      }

      &:first-of-type,
      &:nth-of-type(n + 2),
      &:nth-of-type(3) {
        flex: 0 0 33.33%;
        height: auto;
      }

      &:first-of-type {
        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          right: -25px;
          top: -25px;
          height: 100%;
          width: 27px;
          border-radius: 0;
          box-shadow: 0 25px 0 $gbsGreen;
        }
      }

      &:first-of-type {
        padding-top: 0;

        &:after {
          box-shadow: 0 25px 0 $gbsGreenDark;
        }
      }

      &.active:first-of-type {
        border-bottom-left-radius: 0;

        &:before {
          top: auto;
          left: -25px;
          bottom: 0;
          display: block;
          background-color: $gbsGreenDarkest;
        }

        &:after {
          box-shadow: 0 25px 0 $gbsGreenDarkest;
        }
      }

      &:nth-of-type(n + 2) {
        &:before {
          display: none;
        }

        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          right: -25px;
          top: -25px;
          height: 100%;
          width: 27px;
          border-radius: 0;
          box-shadow: 0 25px 0 $gbsGreen;
        }
      }

      &.active:nth-of-type(n + 2) {
        border-bottom-left-radius: 0;

        &:before {
          top: auto;
          left: -25px;
          bottom: 0;
          display: block;
          background-color: $gbsGreenDark;
        }

        &:after {
          box-shadow: 0 25px 0 $gbsGreenDarkest;
        }
      }

      &:nth-of-type(3) {
        &:after {
          content: "";
          position: absolute;
          background-color: transparent;
          right: -25px;
          top: -25px;
          height: 100%;
          width: 27px;
          border-radius: 0;
          box-shadow: 0 25px 0 $gbsTabLight;
        }
      }

      &.active:nth-of-type(3) {
        border-bottom-left-radius: 0;

        &:before {
          top: auto;
          left: -23px;
          bottom: 0;
          display: block;
        }

        &:after {
          display: none;
        }
      }
    }

    &_2_tabs {
      .sidebar_tab:nth-of-type(n + 2) {
        &:after {
          display: none;
        }
      }
    }

    .livePill {
      position: relative;
      height: 20px;
      width: 50px;
      left: -10px;
      border-radius: 34px;
      font-size: 10px;
      margin-right: 0px;

      > span {
        color: $gbsGreenDark;
        position: absolute;
        top: 5px;
        right: 8px;
        margin-left: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        height: 10px;
        width: 10px;
      }
    }

    &_date,
    &_location {
      display: none;
    }

    &_tour_type_desktop {
      display: none;
    }

    &_tour_type_mobile,
    &_updated {
      font-size: 10px;
      margin-bottom: 0;
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &_tour_type_mobile {
      margin-right: 7px;
    }

    &_tournament_name {
      font-size: 12px;
      margin-bottom: 3px;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 740px) and (max-width: 980px) and (min-height: 900px) and (max-height: 1035px) {
  .sidebar_social_links {
    display: none;
  }
}

//Adjusted heights for hiding socials when only two tabs
.sidebar.sidebar_2_tabs {
  @media screen and (min-width: 740px) and (max-width: 980px) and (min-height: 900px) {
    .sidebar_social_links {
      display: block;
      margin-left: 3px;
      margin-bottom: 10px;
    }
  }
}

@media screen and (min-width: 980px) and (min-height: 1111px) {
  .sidebar_social_links {
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 980px) and (min-width: 980px) and (max-height: 900px) {
  .sidebar {
    .livePill {
      left: 0px;
    }
  }
}
