@import "../../../../styles/global/colours";
@import "../../../../styles/global/mixins";

.container {
  width: 80px;
  height: 6px;
  margin-left: 20px;
}
.horizontalSlider {
  position: relative;
  width: 7.5rem;
  margin: auto;
  @media screen and (max-width: 375px) {
    width: 5.5rem;
  }
  .thumb {
    cursor: pointer;
    outline: none;
    position: absolute;
    z-index: 100;
    border: 7px solid $gbsGreenDark;
    border-radius: 100%;
    display: block;
    top: -5px;
  }

  .track {
    background: $white;
    top: 0px;
    height: 5px;
  }
}

.value {
  position: absolute;
  top: -12px;
  left: -25px;
}

@media screen and (min-width: 450px) and (max-width: 980px) {
  .container {
    width: 200px;
    height: 6px;
  }
  .horizontalSlider {
    width: 100%;
  }
}

@media screen and (min-width: 980px) and (max-width: 1330px) {
  .container {
    width: 70px;
    height: 6px;
  }
  .horizontalSlider {
    width: 100%;
  }
}
