@import "../../../styles/global/colours";
@import "../../../styles/global/mixins";

.table {
  position: relative;
  width: 100%;
  height: 100%;
}

.tableHead {
  position: relative;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid $gbsGreen;

  > tr {
    > th {
      &:first-child {
        width: 15%;
      }
    }
    .tableHeading {
      justify-content: center;

      &:nth-child(2) {
        width: 30%;
        .sortHeading {
          justify-content: left;
        }
      }
      &:nth-child(3) {
        width: 20%;

        .sortHeading {
          justify-content: left;
          margin-left: -10px;
        }
      }
      &:nth-last-child(2) {
        display: block;

        > span {
          display: none;
        }
      }
      &:last-child {
        width: 15%;
      }
    }
  }
}

.sortHeading {
  display: flex;
  align-items: center;
  cursor: pointer;

  > span {
    margin-right: 5px;
  }

  .sort {
    margin-top: 2px;
  }

  .asc {
    margin-top: -3px;

    > svg {
      transform: rotate(0deg);
    }
  }

  .desc {
    margin-top: -3px;

    > svg {
      transform: rotate(180deg);
    }
  }
}

.tableBody {
  width: 100%;
}

.tableRow {
  text-align: center;
  vertical-align: middle;
  line-height: 38px;

  &:nth-child(odd) {
    background: $gbsGreenLightest;
  }
}

.tableData {
  > span {
    line-height: 1;
    font-size: 10px;
  }
  &:first-child {
    margin: 0;
  }
  &:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 1;
    width: 0;
  }

  &:nth-child(3) {
    text-align: left;
  }

  &:nth-last-child(2) {
    width: 15%;
  }

  &:last-child {
    padding-right: 20px;

    a {
      border: 0;
      background-repeat: no-repeat;

      > div {
        margin-top: 5px;
      }
      > div > div {
        border-radius: 4px;
      }

      span {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 420px) and (max-width: 730px) {
  .tableHead {
    position: relative;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid $gbsGreen;

    > tr {
      > th {
        &:first-child {
          width: 15%;
        }
      }
      .tableHeading {
        &:nth-child(2) {
          .sortHeading {
            justify-content: center;
          }
        }
        &:nth-child(3) {
          .sortHeading {
            justify-content: center;
            margin-left: 10px;
            padding: 0;
          }
        }

        &:nth-last-child(2) {
          display: block;
          width: 10%;

          > span {
            display: none;
          }
        }
      }
    }
  }

  .sortHeading {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;

    > span {
      margin-right: 5px;
    }
  }

  .tableData {
    > span {
      line-height: 1;
      font-size: 12px;
    }

    &:nth-child(2) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      line-height: 1;
      width: 40%;
    }

    &:nth-child(3) {
      text-align: center;
      width: 20%;
    }
    &:nth-last-child(2) {
      width: 8%;
    }
  }
}

@media screen and (min-width: 730px) and (max-width: 1000px) {
  .tableHead {
    height: 67px;
    line-height: 67px;

    > tr {
      > th {
        &:first-child {
          width: 2%;
        }
      }
      .tableHeading {
        &:nth-child(2) {
          .sortHeading {
            justify-content: center;
          }
        }
        &:nth-child(3) {
          .sortHeading {
            justify-content: center;
            margin-left: 10px;
            padding: 0;
          }
        }
        &:nth-last-child(2) {
          display: block;
          width: 10%;

          > span {
            display: none;
          }
        }
      }
    }
  }
  .tableData {
    position: relative;
    > span {
      font-size: 12px;
    }

    &:first-child {
      width: 10%;
    }

    &:nth-child(2) {
      text-align: center;
      line-height: 1;
      width: 50%;
    }

    &:nth-child(3) {
      text-align: center;
    }

    &:nth-last-child(2) {
      width: 0%;
    }
  }
}

@media screen and (min-width: 1000px) and (max-width: 1150px) {
  .tableData {
    > span {
      font-size: 12px;
    }
    &:first-child {
      width: 5%;
    }

    &:nth-child(2) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:nth-child(3) {
      width: 10%;
      left: -5px;
    }
    &:nth-child(4) {
      width: 10%;
    }
  }
}

@media screen and (min-width: 1150px) and (max-width: 1300px) {
  .tableHead {
    > tr {
      .tableHeading {
        &:nth-child(3) {
          .sortHeading {
            justify-content: center;
            margin-left: -10px;
          }
        }
        &:nth-child(4) {
          width: 12%;
        }
        &:nth-last-child(2) {
          .sortHeading {
            margin-left: 15px;
          }
          > span {
            display: block;
            margin-left: 0;
          }
        }
      }
    }
  }
  .tableData {
    > span {
      font-size: 12px;
    }
    &:nth-child(3) {
      text-align: center;
    }
  }
}

@media screen and (min-width: 1300px) {
  .tableHead {
    height: 67px;
    line-height: 67px;
    width: 100%;
    > tr {
      > th {
        &:first-child {
          width: 10%;
        }
      }
      .tableHeading {
        &:nth-child(2) {
          .sortHeading {
            justify-content: center;
          }
        }
        &:nth-child(3) {
          .sortHeading {
            justify-content: center;
            margin-left: 10px;
          }
        }
        &:nth-last-child(2) {
          .sortHeading {
            margin-left: 45px;
          }

          > span {
            display: block;
          }
        }
      }
    }
  }
  .tableData {
    > span {
      font-size: 12px;
    }
    &:first-child {
      width: 7%;
    }
    &:nth-child(2) {
      width: 40%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
    }
    &:nth-child(3) {
      text-align: center;
    }
    &:nth-child(4) {
      width: 20%;
    }
    &:nth-last-child(2) {
      width: 25%;
    }

    &:last-child {
      display: flex;
      position: relative;
      top: -5px;
      right: -120px;
      height: 33px;
      width: 120px;
      padding: 0;

      a {
        border: 1px solid $gbsGreen;
        border-left: none;
        background-color: transparent;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        background-size: 33px 33px;
        background-position: left;

        > div {
          margin-top: 1px;
        }
        > div > div {
          border-radius: 0;
        }

        span {
          display: block;
          position: relative;
          left: 5px;
          line-height: 2.6;
        }
      }
    }
  }
}

.cellSlider {
  vertical-align: middle;
  padding-left: 20px;
}
